<footer class="site-footer mt-50">
	    <div class="site-footer-legal">© 2017 <a href="{{constant('URL')}}">PD-Becas</a></div>
	    <div class="site-footer-right">
	      Sistema de becas creado con <i class="red-600 wb wb-heart"></i> por <a href="https://pdvsa.com/">PDVSA</a>
	    </div>
	</footer>
  

  <script src="public/classic/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
  <script src="public/classic/global/vendor/jquery/jquery.js"></script>
  <script src="public/classic/global/vendor/tether/tether.js"></script>
  <script src="public/classic/global/vendor/bootstrap/bootstrap.js"></script>
  <script src="public/classic/global/vendor/animsition/animsition.js"></script>
  <script src="public/classic/global/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="public/classic/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
  <script src="public/classic/global/vendor/asscrollable/jquery-asScrollable.js"></script>
  <!-- Plugins -->
  <script src="public/classic/global/vendor/switchery/switchery.min.js"></script>
  <script src="public/classic/global/vendor/intro-js/intro.js"></script>
  <script src="public/classic/global/vendor/screenfull/screenfull.js"></script>
  <script src="public/classic/global/vendor/slidepanel/jquery-slidePanel.js"></script>
  
  <script src="public/classic/global/vendor/ladda/spin.min.js"></script>
  <script src="public/classic/global/vendor/ladda/ladda.min.js"></script>
  <script src="public/classic/global/vendor/toastr/toastr.js"></script>


  <script src="public/classic/global/vendor/toastr/toastr.js"></script>

  <!-- Scripts -->
  <script src="public/classic/global/js/State.js"></script>
  <script src="public/classic/global/js/Component.js"></script>
  <script src="public/classic/global/js/Plugin.js"></script>
  <script src="public/classic/global/js/Base.js"></script>
  <script src="public/classic/global/js/Config.js"></script>
  <script src="public/classic/topbar/assets/js/Section/Menubar.js"></script>
  <script src="public/classic/topbar/assets/js/Section/Sidebar.js"></script>
  <script src="public/classic/topbar/assets/js/Section/PageAside.js"></script>
  <script src="public/classic/topbar/assets/js/Plugin/menu.js"></script>
  <!-- Config -->
  <script src="public/classic/global/js/config/colors.js"></script>
  <script src="public/classic/topbar/assets/js/config/tour.js"></script>
  <script>
  Config.set('assets', 'public/classic/topbar/assets');
  </script>
  <!-- Page -->
  <script src="public/classic/topbar/assets/js/Site.js"></script>
  <script src="public/classic/global/js/Plugin/asscrollable.js"></script>
  <script src="public/classic/global/js/Plugin/slidepanel.js"></script>
  <script src="public/classic/global/js/Plugin/switchery.js"></script>
  <script src="public/classic/global/js/Plugin/ladda.js"></script>
  <script src="public/classic/global/js/Plugin/toastr.js"></script>

  <script src="public/dev/js/jquery.numeric.js"></script>
  
  {% if session[constant('SESSION_ID')] is not defined %}
  <script src="public/dev/js/login.js"></script>
  <script src="public/dev/js/reg.js"></script>
  {% endif %}
  <script src="public/dev/js/password.js"></script>
  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
      $('.numeric').numeric();
    });
  })(document, window, jQuery);
  </script>