<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  <base href="{{constant('URL')}}">
  <title>PD-Becas</title>
  <link rel="apple-touch-icon" href="public/classic/topbar/assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="public/classic/topbar/assets/images/favicon.ico">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="public/classic/global/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/classic/global/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="public/classic/topbar/assets/css/site.min.css">
  <!-- Plugins -->
  <link rel="stylesheet" href="public/classic/global/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="public/classic/global/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="public/classic/global/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="public/classic/global/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="public/classic/global/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="public/classic/global/vendor/flag-icon-css/flag-icon.css">
  <link rel="stylesheet" href="public/classic/topbar/assets/examples/css/uikit/modals.css">

  <link rel="stylesheet" href="public/classic/global/vendor/ladda/ladda.css">
  <link rel="stylesheet" href="public/classic/global/vendor/toastr/toastr.css">
  <link rel="stylesheet" href="public/classic/topbar/assets/examples/css/advanced/toastr.css">
  <link rel="stylesheet" href="public/classic/topbar/assets/examples/css/structure/alerts.css">


  {% block CssBlock %}{% endblock %}
  <!-- Fonts -->
  <link rel="stylesheet" href="public/classic/global/fonts/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="public/classic/global/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="public/classic/global/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

  <link rel="stylesheet" href="public/dev/css/style.css">
  

  <script src="public/classic/global/vendor/breakpoints/breakpoints.js"></script>
  <script>
  Breakpoints();
  </script>
</head>
<body class="animsition site-navbar-small {% block BodyClass %}{% endblock %}">

{% block content %}{% endblock %}

