{% extends 'templates/header' %}

{% block CssBlock %}
<link rel="stylesheet" href="public/classic/global/vendor/dropify/dropify.css">
{% endblock %}

{% block content %}
  {% include 'templates/nav' %}

  
  {% include 'templates/sidebar' %}

  
  
	<div class="page">
		<div class="page-header">
		    <h1 class="page-title">Gestión de Administradores</h1>
		    <ol class="breadcrumb">
		        <li class="breadcrumb-item"><a href="admins/">Admins</a></li>
		        <li class="breadcrumb-item active">Listado</li>
		    </ol>
		</div>
	    <div class="page-content">
	      	<div class="panel">
	      		<div class="panel-body container-fluid">
	      			<div class="row row-lg">
	      				<div class="col-md-12 col-lg-12">
	      					
							<div class="example-wrap">
								<h4 class="example-title">Administradores - Creación</h4>
								<div class="example">
									<form id="admins_form" autocomplete="off" enctype="multipart/form-data">
										<div class="row">
											<div class="col-md-6 col-xs-12">

												<div class="form-group">
													<label class="form-control-label" for="name">Nombre <span class="required">*</span></label>
													<input type="text" id="name" class="form-control" name="name" placeholder="Nombre del administrador" autocomplete="off">
												</div>

												<div class="form-group">
													<label class="form-control-label" for="ape">Apellido <span class="required">*</span></label>
													<input type="text" id="ape" class="form-control" name="ape" placeholder="Apellido del administrador" autocomplete="off">
												</div>

												<div class="form-group">
													<label class="form-control-label" for="ced">Cédula de identidad<span class="required">*</span></label>
													<input type="tel" id="ced" class="form-control numeric" name="ced" placeholder="Cédula del administrador" autocomplete="off">
												</div>

												<div class="form-group">
													<label class="form-control-label" for="email">Correo Electrónico <span class="required">*</span></label>
													<input type="email" id="email" class="form-control" name="email" placeholder="Correo del administrador" autocomplete="off">
												</div>

												

												<div class="form-group">
													<label class="form-control-label" for="emaildos">Confirmar correo <span class="required">*</span></label>
													<input type="email" id="emaildos" class="form-control" name="emaildos" placeholder="Vuelve a escribir el correo" autocomplete="off">
												</div>


											</div>
											<div class="col-xs-12 col-md-6">

						                        <div class="example-wrap">
						                          	<h4 class="example-title">Imágen de Perfil</h4>
						                          	<div class="example">
						                            	<input type="file" name="perfil" id="input-file-now-custom-1" data-height="130" data-plugin="dropify" accept="image/*" />
						                         	 </div>
						                        </div>

						                      	<div class="form-group">
						                      		<label class="form-control-label" for="pass">Contraseña <span class="required">*</span></label>
													<input type="password" id="pass" class="form-control" name="pass" placeholder="Contraseña del administrador" autocomplete="off">
						                      	</div>

						                      	<div class="form-group">
						                      		<label class="form-control-label" for="passdos">Confirmar Contraseña <span class="required">*</span></label>
													<input type="password" id="passdos" class="form-control" name="passdos" placeholder="Vuelve a escribir la contraseña" autocomplete="off">
						                      	</div>
						                      	<div class="form-group">
						                      		<label>Género <span class="required">*</span></label>
													
													<ul class="list-unstyled list-inline">
														<li class="list-inline-item">
															<div class="radio-custom radio-primary">
								                      			<input type="radio" id="m" name="gen" value="masculino">
								                      			<label for="m">Masculino</label>
								                      		</div>
														</li>
														<li class="list-inline-item">
															<div class="radio-custom radio-primary">
								                      			<input type="radio" id="f" name="gen" value="femenino">
								                      			<label for="f">Femenino</label>
								                      		</div>
														</li>
													</ul>						                      		
						                      	</div>

						                    </div>
										</div>
										
										<div class="form-group">
					                      	<button type="button" id="admins_submit" class="btn btn-primary">Crear</button>
					                    </div>

									</form>
								</div>
							</div>

	      				</div>
	      			</div>
	      			
	      		</div>
	      	</div>
	    </div>
	</div>
  
  	{% include 'templates/footer' %}
  	<script src="public/classic/global/vendor/dropify/dropify.js"></script>
  	<script src="public/classic/global/js/Plugin/dropify.js"></script>
  	<script src="public/dev/js/admins/create.js"></script>
</body>
</html>
{% endblock %}